.wrapper {
    min-width: 185px;
    height: 699px;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    user-select: none;
    position: relative;

    &.tablet {
        min-width: 0;
    }

    &.mobile {
        min-width: 0;
    }
}

.inner {
    position: fixed;
    width: 185px;
    height: 100%;
    padding: 0 10px;
    padding-top: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);

    &.tablet {
        width: 0;
    }

    &.mobile {
        width: 0;
    }
}

.item {
    padding: 0 15px;
    display: flex;
    height: 40px;
    flex: 1;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: all linear 0.1s;
    border-radius: 10px;

    &.rule {
        margin-bottom: 17px;
    }

    &:hover {
        background-color: #f2f3f4;
    }

    &.active {
        background-color: #f2f3f4;
    }
}

.item-icon {
    stroke: rgb(83, 64, 255);
}

.item-title {
    margin-left: 11px;
    font-weight: 300;
    line-height: 15px;
    color: rgb(67, 71, 86);
    font-size: 1.45rem;
}
